@model Note;
@{
    ViewData["Title"] = "Добавление заказа";
}
<h1>@ViewData["Title"]</h1>


<form asp-action="AddNote" method="post">
    <div class="mb-3">
        <label asp-for="Title" for="exampleInputEmail1" class="form-label">
            Введите заголовок
        </label>
        <input asp-for="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="Client" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Client" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">
        Создать заказ
    </button>
</form>
