@model List<Note>
@{
    ViewData["Title"] = "Список заказов";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        @foreach (Note note in Model)
        {
            <p>@note.Id</p>
            <p>@note.Title</p>
            <p>@note.Client</p>
        }
    </div>
</div>
